<div class="card w-25 m-4">
  <img src="/assets/images/map.png" alt="map" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{@office.name}}</h5>
    <p class="card-text">{{@office.street}}</p>
    <p class="card-text">{{@office.city}}, {{@office.state}}, {{@office.zip}}</p>
    <a class="btn btn-primary w-100">Select</a>
  </div>
</div>
